In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_excel("C:/Users/홍정화/Desktop/abc_Camp_BigData/공영주차장 이용데이터(정비).xlsx")

In [3]:
df = df[df["주차장명"].str.contains("오산시청부설주차장")]

In [4]:
df

             주차장명                입차시각                출차시각  구분
0       오산시청부설주차장 2021-12-31 18:13:00 2022-01-01 00:03:40  일반
1       오산시청부설주차장 2021-12-31 22:38:00 2022-01-01 00:06:14  일반
2       오산시청부설주차장 2021-12-31 23:57:00 2022-01-01 00:06:38  일반
3       오산시청부설주차장 2021-12-31 22:37:00 2022-01-01 00:18:59  일반
4       오산시청부설주차장 2021-12-31 20:36:00 2022-01-01 00:21:30  일반
...           ...                 ...                 ...  ..
282620  오산시청부설주차장 2022-06-30 17:13:00 2022-06-30 23:42:05  일반
282621  오산시청부설주차장 2022-06-30 21:16:00 2022-06-30 23:45:28  일반
282622  오산시청부설주차장 2022-06-30 19:44:00 2022-06-30 23:49:30  일반
282623  오산시청부설주차장 2022-06-30 23:12:00 2022-06-30 23:51:04  일반
282624  오산시청부설주차장 2022-06-30 21:30:00 2022-06-30 23:54:19  일반

[282625 rows x 4 columns]

## 이용률 분석하기 위해 입차시각, 출차시각 나누기

In [5]:
df["입차년도"] = df["입차시각"].dt.year.astype('Int64')
df["입차달"] = df["입차시각"].dt.month.astype('Int64')
df["입차일"] = df["입차시각"].dt.day.astype('Int64')
df["입차시"] = df["입차시각"].dt.hour.astype('Int64')
df["입차분"] = df["입차시각"].dt.minute.astype('Int64')
df["입차초"] = df["입차시각"].dt.second.astype('Int64')

df["출차년도"] = df["출차시각"].dt.year.astype('Int64')
df["출차달"] = df["출차시각"].dt.month.astype('Int64')
df["출차일"] = df["출차시각"].dt.day.astype('Int64')
df["출차시"] = df["출차시각"].dt.hour.astype('Int64')
df["출차분"] = df["출차시각"].dt.minute.astype('Int64')
df["출차초"] = df["출차시각"].dt.second.astype('Int64')

# 결측치 확인

In [6]:
df.isnull().sum()

주차장명      0
입차시각    186
출차시각      0
구분        0
입차년도    186
입차달     186
입차일     186
입차시     186
입차분     186
입차초     186
출차년도      0
출차달       0
출차일       0
출차시       0
출차분       0
출차초       0
dtype: int64

# 입차년도가 2022년인 데이터만 추출

In [7]:
df_2022 = df[df["입차년도"]==2022]
df_2022 = df_2022.reset_index(drop=True)

In [8]:
df_2022

,주차장명,입차시각,출차시각,구분,입차년도,입차달,입차일,입차시,입차분,입차초,출차년도,출차달,출차일,출차시,출차분,출차초
0,오산시청부설주차장,2022-01-01 00:54:00,2022-01-01 00:55:58,일반,2022,1,1,0,54,0,2022,1,1,0,55,58
1,오산시청부설주차장,2022-01-01 00:59:00,2022-01-01 01:03:42,일반,2022,1,1,0,59,0,2022,1,1,1,3,42
2,오산시청부설주차장,2022-01-01 01:25:00,2022-01-01 01:39:43,일반,2022,1,1,1,25,0,2022,1,1,1,39,43
3,오산시청부설주차장,2022-01-01 01:33:00,2022-01-01 01:39:49,일반,2022,1,1,1,33,0,2022,1,1,1,39,49
4,오산시청부설주차장,2022-01-01 01:42:00,2022-01-01 01:48:55,일반,2022,1,1,1,42,0,2022,1,1,1,48,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282209,오산시청부설주차장,2022-06-30 17:13:00,2022-06-30 23:42:05,일반,2022,6,30,17,13,0,2022,6,30,23,42,5
282210,오산시청부설주차장,2022-06-30 21:16:00,2022-06-30 23:45:28,일반,2022,6,30,21,16,0,2022,6,30,23,45,28
282211,오산시청부설주차장,2022-06-30 19:44:00,2022-06-30 23:49:30,일반,2022,6,30,19,44,0,2022,6,30,23,49,30
282212,오산시청부설주차장,2022-06-30 23:12:00,2022-06-30 23:51:04,일반,2022,6,30,23,12,0,2022,6,30,23,51,4
282213,오산시청부설주차장,2022-06-30 21:30:00,2022-06-30 23:54:19,일반,2022,6,30,21,30,0,2022,6,30,23,54,19

# 결측치 재확인

In [9]:
df_2022.isnull().sum()

주차장명    0
입차시각    0
출차시각    0
구분      0
입차년도    0
입차달     0
입차일     0
입차시     0
입차분     0
입차초     0
출차년도    0
출차달     0
출차일     0
출차시     0
출차분     0
출차초     0
dtype: int64

# 입차시각이 출차시각보다 늦거나 같은 데이터 삭제 
## ex) 입차시각 2022-01-01 00:31:00 출차시각 2022-01-01 00:12:15

In [10]:
for i in range(len(df_2022)):
    In = df_2022["입차시각"][i]
    Out =df_2022["출차시각"][i]
    if(In>=Out):
        df_2022 = df_2022.drop(i)

In [11]:
df_2022 = df_2022.reset_index(drop=True)

# 이용시간 계산 (출차시각 - 입차시각)

In [12]:
usetime =[]
for i in range(len(df_2022)):
    In = df_2022["입차시각"][i]
    Out = df_2022["출차시각"][i]
    datediff = Out-In
    usetime.append(datediff)
df_2022["이용시간"]=usetime

In [13]:
df_2022

,주차장명,입차시각,출차시각,구분,입차년도,입차달,입차일,입차시,입차분,입차초,출차년도,출차달,출차일,출차시,출차분,출차초,이용시간
0,오산시청부설주차장,2022-01-01 00:54:00,2022-01-01 00:55:58,일반,2022,1,1,0,54,0,2022,1,1,0,55,58,0 days 00:01:58
1,오산시청부설주차장,2022-01-01 00:59:00,2022-01-01 01:03:42,일반,2022,1,1,0,59,0,2022,1,1,1,3,42,0 days 00:04:42
2,오산시청부설주차장,2022-01-01 01:25:00,2022-01-01 01:39:43,일반,2022,1,1,1,25,0,2022,1,1,1,39,43,0 days 00:14:43
3,오산시청부설주차장,2022-01-01 01:33:00,2022-01-01 01:39:49,일반,2022,1,1,1,33,0,2022,1,1,1,39,49,0 days 00:06:49
4,오산시청부설주차장,2022-01-01 01:42:00,2022-01-01 01:48:55,일반,2022,1,1,1,42,0,2022,1,1,1,48,55,0 days 00:06:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282202,오산시청부설주차장,2022-06-30 17:13:00,2022-06-30 23:42:05,일반,2022,6,30,17,13,0,2022,6,30,23,42,5,0 days 06:29:05
282203,오산시청부설주차장,2022-06-30 21:16:00,2022-06-30 23:45:28,일반,2022,6,30,21,16,0,2022,6,30,23,45,28,0 days 02:29:28
282204,오산시청부설주차장,2022-06-30 19:44:00,2022-06-30 23:49:30,일반,2022,6,30,19,44,0,2022,6,30,23,49,30,0 days 04:05:30
282205,오산시청부설주차장,2022-06-30 23:12:00,2022-06-30 23:51:04,일반,2022,6,30,23,12,0,2022,6,30,23,51,4,0 days 00:39:04
282206,오산시청부설주차장,2022-06-30 21:30:00,2022-06-30 23:54:19,일반,2022,6,30,21,30,0,2022,6,30,23,54,19,0 days 02:24:19

# 평균 이용시간  => usetime_avg

In [14]:
usetime_sum = df_2022["이용시간"].sum() 
usetime_sum

Timedelta('41875 days 03:27:25')

In [15]:
usetime_avg = usetime_sum/len(df_2022["이용시간"])
usetime_avg

Timedelta('0 days 03:33:40.420630955')

# 달별 이용 수(입차 수) => month_entrance_df

In [16]:
month_entrance_df = pd.DataFrame()
month_entrance_df["월"]=[]
month_entrance_df["월별 입차 수"]=[]

month=[]
month_entrance=[]
for i in range(1,13):
    month.append(str(i)+"월")
    month_entrance.append(len(df_2022[df_2022["입차달"]== i]))
month_entrance_df["월"]=month
month_entrance_df["월별 입차 수"]=month_entrance

In [17]:
month_entrance_df

      월  월별 입차 수
0    1월    46930
1    2월    40393
2    3월    47112
3    4월    47476
4    5월    53611
5    6월    46685
6    7월        0
7    8월        0
8    9월        0
9   10월        0
10  11월        0
11  12월        0

# 1~6월 일별로 이용수 계산 => all_entrance_df

In [18]:
all_entrance_df = pd.DataFrame()
all_entrance_df["일"]=[]
all_entrance_df["1월"]=[]
all_entrance_df["2월"]=[]
all_entrance_df["3월"]=[]
all_entrance_df["4월"]=[]
all_entrance_df["5월"]=[]
all_entrance_df["6월"]=[]

In [19]:
day=[]
for i in range(1,32):
    day.append(str(i)+"일")
all_entrance_df["일"] = day

In [20]:
day_entrance=[]
for i in range(1,7):
    for j in range(1,32):
        day_entrance.append(len(df_2022[df_2022["입차달"]== i][df_2022[df_2022["입차달"]== i]["입차일"]==j]))
    all_entrance_df[str(i)+"월"] = day_entrance
    day_entrance.clear()

In [21]:
all_entrance_df

      일    1월    2월    3월    4월    5월    6월
0    1일   735   229  1083  1665   956   991
1    2일   818   748  1847  1235  1896  1822
2    3일  1696  1755  1655   892  1893  1908
3    4일  1815  1763  1716  1655  2048  1405
4    5일  1835  1078  1657  1726  1168  1055
5    6일  1823   798   936  1693  2053  1007
6    7일  1869  1698  1702  1646  1100  1893
7    8일  1239  1595  1696  1750   989   630
8    9일   931  1775   945  1249  1831   558
9   10일  2012  1793  1577   871  1851  1009
10  11일  1476  1721  1680  1749  2026  1530
11  12일  1711  1221  1334  1700  1933  1422
12  13일  1683   882   780  1686  1929  2031
13  14일  1844  1640  1748  1751  1904  1938
14  15일  1308  1573  1718  1805  1066  1944
15  16일   934  1648  1793  1245  1994  2052
16  17일  1949  1548  1642   949  2049  1923
17  18일  1888  1611  1736  1823  1969  1422
18  19일  1720  1079  1077  1816  2038  1049
19  20일  1865   907   948  1842  1978  1833
20  21일  1821  1761  1744  1831  1329  1901
21  22일  1349  1707  1717  1911  1040  1883
22  23일  1159  1717  1690  1363  2005  1786
23  24일  1907  1811  1652   986  2015  1966
24  25일  1875  2029  1741  1770  2059  1574
25  26일  1801  1224  1266  1812  1912  1216
26  27일  1792   912   950  1722  1894  1903
27  28일  1887  2170  1771  1811  1345  1941
28  29일   918     0  1816  1968  1030  1827
29  30일   731     0  1689  1554  1956  1266
30  31일   539     0  1806     0  2355     0

In [22]:
all_entrance_df.to_excel("osancityhall.xlsx", index = False)

# 주차이용 효율 계산 
## (주차 이용대수 x 평균 주차시간) % (주차용량x주차장 운영시간)
## => Utilization_Efficiency_df

In [23]:
real_day = 0
month_entrance = month_entrance_df["월별 입차 수"].sum()
for i in range(1,7):
    real_day += len(all_entrance_df[all_entrance_df[str(i)+"월"] !=0])

In [24]:
avg_parking = month_entrance/real_day
avg_parking

1559.1546961325967

In [25]:
parking_n = 458 #주차용량

In [26]:
usetime_avg = usetime_avg.total_seconds()

In [27]:
usetime_avg

12820.42063

In [28]:
Utilization_Efficiency = (avg_parking * usetime_avg)/(parking_n * 24)

In [29]:
Utilization_Efficiency = round(Utilization_Efficiency/360,2)
Utilization_Efficiency

5.05

In [30]:
Utilization_Efficiency_list = []
Utilization_Efficiency_list.append(Utilization_Efficiency)
Utilization_Efficiency_df = pd.DataFrame()
Utilization_Efficiency_df["오산시청부설주차장"] = Utilization_Efficiency_list

In [31]:
Utilization_Efficiency_df

   오산시청부설주차장
0       5.05

In [32]:
Utilization_Efficiency_df.to_excel("osancityhall_Utilization_Efficiency.xlsx", index = False)

# 붐비는 시간 (1시간 기준) 
## data 수가 너무 많아 실행시간이 너무 오래 걸리기 때문에 각 월에서 1개의 주말 data 추출

In [33]:
peak_df = pd.DataFrame()
peak_df["시간(1시간)"]=[]
peak_df["입차수"]=[]
peak_df["회전률"]=[]

peak_time=[]
for i in range(0,3):
    for j in range(0,10):
        if i==2 and j>3:
            break
        else:
            a = str(i)+str(j)+":00:00~"+str(i)+str(j)+":59:59"
        peak_time.append(a)
peak_df["시간(1시간)"]=peak_time

In [34]:
def holiday_df(dataframe, month, day):
    dataframe = df_2022[df_2022["입차달"]==month]
    dataframe = dataframe[dataframe["입차일"]==day]
    dataframe = dataframe.reset_index(drop=True)
    return dataframe

In [35]:
jan_holiday_df = pd.DataFrame()
feb_holiday_df = pd.DataFrame()
mar_holiday_df = pd.DataFrame()
apr_holiday_df = pd.DataFrame()
may_holiday_df = pd.DataFrame()
jun_holiday_df = pd.DataFrame()

jan_holiday_df = holiday_df(jan_holiday_df, 1, 29)
feb_holiday_df = holiday_df(feb_holiday_df, 2, 12)
mar_holiday_df = holiday_df(mar_holiday_df, 3, 29)
apr_holiday_df = holiday_df(apr_holiday_df, 4, 23)
may_holiday_df = holiday_df(may_holiday_df, 5, 29)
jun_holiday_df = holiday_df(jun_holiday_df, 6, 18)

In [36]:
def time_use(dataframe, month_list):
    for i in range(0,24):
        for j in range(len(dataframe)):
            use = len(dataframe[dataframe["입차시"]==i])
        month_list.append(use)
    return month_list

In [37]:
jan = []
feb = []
mar = []
apr = []
may = []
jun = []

jan_use = time_use(jan_holiday_df, jan)
feb_use = time_use(feb_holiday_df, feb)
mar_use = time_use(mar_holiday_df, mar)
apr_use = time_use(apr_holiday_df, apr)
may_use = time_use(may_holiday_df, may)
jun_use = time_use(jun_holiday_df, jun)

In [38]:
sum_use = [jan_use[i] + feb_use[i] + mar_use[i] + apr_use[i] + may_use[i] + jun_use[i] for i in range(len(jan_use))]

In [39]:
n = 6
sum_use = [x / n for x in sum_use]

In [40]:
peak_df["입차수"]=sum_use

In [41]:
peak_df

              시간(1시간)         입차수  회전률
0   00:00:00~00:59:59    4.333333  NaN
1   01:00:00~01:59:59    2.833333  NaN
2   02:00:00~02:59:59    2.000000  NaN
3   03:00:00~03:59:59    3.166667  NaN
4   04:00:00~04:59:59    1.500000  NaN
5   05:00:00~05:59:59   12.500000  NaN
6   06:00:00~06:59:59   24.000000  NaN
7   07:00:00~07:59:59   30.000000  NaN
8   08:00:00~08:59:59   85.833333  NaN
9   09:00:00~09:59:59   91.833333  NaN
10  10:00:00~10:59:59  112.666667  NaN
11  11:00:00~11:59:59  114.166667  NaN
12  12:00:00~12:59:59  119.500000  NaN
13  13:00:00~13:59:59  122.666667  NaN
14  14:00:00~14:59:59  121.500000  NaN
15  15:00:00~15:59:59   98.000000  NaN
16  16:00:00~16:59:59   83.833333  NaN
17  17:00:00~17:59:59   77.500000  NaN
18  18:00:00~18:59:59   69.000000  NaN
19  19:00:00~19:59:59   47.000000  NaN
20  20:00:00~20:59:59   30.500000  NaN
21  21:00:00~21:59:59   24.000000  NaN
22  22:00:00~22:59:59   11.000000  NaN
23  23:00:00~23:59:59    5.666667  NaN

# 회전률 계산
## 이용차량 대수/총 주차면수

In [42]:
rotation_rate =[]
for i in range(0,24):
    a = peak_df["입차수"][i]/458
    rotation_rate.append(a)
peak_df["회전률"] = rotation_rate

In [43]:
peak_df

              시간(1시간)         입차수       회전률
0   00:00:00~00:59:59    4.333333  0.009461
1   01:00:00~01:59:59    2.833333  0.006186
2   02:00:00~02:59:59    2.000000  0.004367
3   03:00:00~03:59:59    3.166667  0.006914
4   04:00:00~04:59:59    1.500000  0.003275
5   05:00:00~05:59:59   12.500000  0.027293
6   06:00:00~06:59:59   24.000000  0.052402
7   07:00:00~07:59:59   30.000000  0.065502
8   08:00:00~08:59:59   85.833333  0.187409
9   09:00:00~09:59:59   91.833333  0.200509
10  10:00:00~10:59:59  112.666667  0.245997
11  11:00:00~11:59:59  114.166667  0.249272
12  12:00:00~12:59:59  119.500000  0.260917
13  13:00:00~13:59:59  122.666667  0.267831
14  14:00:00~14:59:59  121.500000  0.265284
15  15:00:00~15:59:59   98.000000  0.213974
16  16:00:00~16:59:59   83.833333  0.183042
17  17:00:00~17:59:59   77.500000  0.169214
18  18:00:00~18:59:59   69.000000  0.150655
19  19:00:00~19:59:59   47.000000  0.102620
20  20:00:00~20:59:59   30.500000  0.066594
21  21:00:00~21:59:59   24.000000  0.052402
22  22:00:00~22:59:59   11.000000  0.024017
23  23:00:00~23:59:59    5.666667  0.012373

In [44]:
peak_df.to_excel("osancityhall_peak.xlsx",index = False)