In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_excel("C:/Users/홍정화/Desktop/abc_Camp_BigData/공영주차장 이용데이터(정비).xlsx")

In [3]:
df = df[df["주차장명"].str.contains("오색시장2공영주차장")]

In [4]:
df

              주차장명                입차시각                출차시각  구분
371464  오색시장2공영주차장 2021-12-31 22:41:00 2022-01-01 00:15:14  일반
371465  오색시장2공영주차장 2021-12-31 22:33:00 2022-01-01 00:15:32  일반
371466  오색시장2공영주차장 2022-01-01 00:35:00 2022-01-01 00:16:52  일반
371467  오색시장2공영주차장 2021-12-31 21:37:45 2022-01-01 00:20:56  정기
371468  오색시장2공영주차장 2021-12-31 11:10:00 2022-01-01 00:39:31  일반
...            ...                 ...                 ...  ..
510699  오색시장2공영주차장 2022-06-30 21:16:00 2022-06-30 21:35:16  일반
510700  오색시장2공영주차장 2022-06-30 21:54:00 2022-06-30 21:37:13  일반
510701  오색시장2공영주차장 2022-06-30 21:21:00 2022-06-30 21:54:54  일반
510702  오색시장2공영주차장 2022-06-30 12:41:00 2022-06-30 22:06:17  일반
510703  오색시장2공영주차장 2022-06-30 16:07:07 2022-06-30 23:34:43  정기

[139240 rows x 4 columns]

## 이용률 분석하기 위해 입차시각, 출차시각 나누기

In [5]:
df["입차년도"] = df["입차시각"].dt.year.astype('Int64')
df["입차달"] = df["입차시각"].dt.month.astype('Int64')
df["입차일"] = df["입차시각"].dt.day.astype('Int64')
df["입차시"] = df["입차시각"].dt.hour.astype('Int64')
df["입차분"] = df["입차시각"].dt.minute.astype('Int64')
df["입차초"] = df["입차시각"].dt.second.astype('Int64')

df["출차년도"] = df["출차시각"].dt.year.astype('Int64')
df["출차달"] = df["출차시각"].dt.month.astype('Int64')
df["출차일"] = df["출차시각"].dt.day.astype('Int64')
df["출차시"] = df["출차시각"].dt.hour.astype('Int64')
df["출차분"] = df["출차시각"].dt.minute.astype('Int64')
df["출차초"] = df["출차시각"].dt.second.astype('Int64')

# 결측치 확인

In [6]:
df.isnull().sum()

주차장명     0
입차시각    72
출차시각     0
구분       0
입차년도    72
입차달     72
입차일     72
입차시     72
입차분     72
입차초     72
출차년도     0
출차달      0
출차일      0
출차시      0
출차분      0
출차초      0
dtype: int64

# 입차년도가 2022년인 데이터만 추출

In [7]:
df_2022 = df[df["입차년도"]==2022]
df_2022 = df_2022.reset_index(drop=True)

In [8]:
df_2022

,주차장명,입차시각,출차시각,구분,입차년도,입차달,입차일,입차시,입차분,입차초,출차년도,출차달,출차일,출차시,출차분,출차초
0,오색시장2공영주차장,2022-01-01 00:35:00,2022-01-01 00:16:52,일반,2022,1,1,0,35,0,2022,1,1,0,16,52
1,오색시장2공영주차장,2022-01-01 00:40:00,2022-01-01 00:40:00,일반,2022,1,1,0,40,0,2022,1,1,0,40,0
2,오색시장2공영주차장,2022-01-01 00:59:00,2022-01-01 00:42:17,일반,2022,1,1,0,59,0,2022,1,1,0,42,17
3,오색시장2공영주차장,2022-01-01 03:09:15,2022-01-01 03:18:45,정기,2022,1,1,3,9,15,2022,1,1,3,18,45
4,오색시장2공영주차장,2022-01-01 07:00:00,2022-01-01 07:25:19,일반,2022,1,1,7,0,0,2022,1,1,7,25,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139071,오색시장2공영주차장,2022-06-30 21:16:00,2022-06-30 21:35:16,일반,2022,6,30,21,16,0,2022,6,30,21,35,16
139072,오색시장2공영주차장,2022-06-30 21:54:00,2022-06-30 21:37:13,일반,2022,6,30,21,54,0,2022,6,30,21,37,13
139073,오색시장2공영주차장,2022-06-30 21:21:00,2022-06-30 21:54:54,일반,2022,6,30,21,21,0,2022,6,30,21,54,54
139074,오색시장2공영주차장,2022-06-30 12:41:00,2022-06-30 22:06:17,일반,2022,6,30,12,41,0,2022,6,30,22,6,17
139075,오색시장2공영주차장,2022-06-30 16:07:07,2022-06-30 23:34:43,정기,2022,6,30,16,7,7,2022,6,30,23,34,43

# 결측치 재확인

In [9]:
df_2022.isnull().sum()

주차장명    0
입차시각    0
출차시각    0
구분      0
입차년도    0
입차달     0
입차일     0
입차시     0
입차분     0
입차초     0
출차년도    0
출차달     0
출차일     0
출차시     0
출차분     0
출차초     0
dtype: int64

# 입차시각이 출차시각보다 늦거나 같은 데이터 삭제 
## ex) 입차시각 2022-01-01 00:31:00 출차시각 2022-01-01 00:12:15

In [10]:
for i in range(len(df_2022)):
    In = df_2022["입차시각"][i]
    Out =df_2022["출차시각"][i]
    if(In>=Out):
        df_2022 = df_2022.drop(i)

In [11]:
df_2022 = df_2022.reset_index(drop=True)

# 이용시간 계산 (출차시각 - 입차시각)

In [12]:
usetime =[]
for i in range(len(df_2022)):
    In = df_2022["입차시각"][i]
    Out = df_2022["출차시각"][i]
    datediff = Out-In
    usetime.append(datediff)
df_2022["이용시간"]=usetime

In [13]:
df_2022

,주차장명,입차시각,출차시각,구분,입차년도,입차달,입차일,입차시,입차분,입차초,출차년도,출차달,출차일,출차시,출차분,출차초,이용시간
0,오색시장2공영주차장,2022-01-01 03:09:15,2022-01-01 03:18:45,정기,2022,1,1,3,9,15,2022,1,1,3,18,45,0 days 00:09:30
1,오색시장2공영주차장,2022-01-01 07:00:00,2022-01-01 07:25:19,일반,2022,1,1,7,0,0,2022,1,1,7,25,19,0 days 00:25:19
2,오색시장2공영주차장,2022-01-01 07:38:00,2022-01-01 08:19:42,일반,2022,1,1,7,38,0,2022,1,1,8,19,42,0 days 00:41:42
3,오색시장2공영주차장,2022-01-01 08:02:00,2022-01-01 08:50:25,일반,2022,1,1,8,2,0,2022,1,1,8,50,25,0 days 00:48:25
4,오색시장2공영주차장,2022-01-01 08:05:00,2022-01-01 08:51:34,일반,2022,1,1,8,5,0,2022,1,1,8,51,34,0 days 00:46:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128500,오색시장2공영주차장,2022-06-30 18:54:00,2022-06-30 21:34:18,일반,2022,6,30,18,54,0,2022,6,30,21,34,18,0 days 02:40:18
128501,오색시장2공영주차장,2022-06-30 21:16:00,2022-06-30 21:35:16,일반,2022,6,30,21,16,0,2022,6,30,21,35,16,0 days 00:19:16
128502,오색시장2공영주차장,2022-06-30 21:21:00,2022-06-30 21:54:54,일반,2022,6,30,21,21,0,2022,6,30,21,54,54,0 days 00:33:54
128503,오색시장2공영주차장,2022-06-30 12:41:00,2022-06-30 22:06:17,일반,2022,6,30,12,41,0,2022,6,30,22,6,17,0 days 09:25:17
128504,오색시장2공영주차장,2022-06-30 16:07:07,2022-06-30 23:34:43,정기,2022,6,30,16,7,7,2022,6,30,23,34,43,0 days 07:27:36

# 평균 이용시간  => usetime_avg

In [14]:
usetime_sum = df_2022["이용시간"].sum() 
usetime_sum

Timedelta('14843 days 16:24:23')

In [15]:
usetime_avg = usetime_sum/len(df_2022["이용시간"])
usetime_avg

Timedelta('0 days 02:46:20.111769970')

# 달별 이용 수(입차 수) => month_entrance_df

In [16]:
month_entrance_df = pd.DataFrame()
month_entrance_df["월"]=[]
month_entrance_df["월별 입차 수"]=[]

month=[]
month_entrance=[]
for i in range(1,13):
    month.append(str(i)+"월")
    month_entrance.append(len(df_2022[df_2022["입차달"]== i]))
month_entrance_df["월"]=month
month_entrance_df["월별 입차 수"]=month_entrance

In [17]:
month_entrance_df

      월  월별 입차 수
0    1월    21823
1    2월    17470
2    3월    23901
3    4월    24185
4    5월    21462
5    6월    19664
6    7월        0
7    8월        0
8    9월        0
9   10월        0
10  11월        0
11  12월        0

# 1~6월 일별로 이용수 계산 => all_entrance_df

In [18]:
all_entrance_df = pd.DataFrame()
all_entrance_df["일"]=[]
all_entrance_df["1월"]=[]
all_entrance_df["2월"]=[]
all_entrance_df["3월"]=[]
all_entrance_df["4월"]=[]
all_entrance_df["5월"]=[]
all_entrance_df["6월"]=[]

In [19]:
day=[]
for i in range(1,32):
    day.append(str(i)+"일")
all_entrance_df["일"] = day

In [20]:
day_entrance=[]
for i in range(1,7):
    for j in range(1,32):
        day_entrance.append(len(df_2022[df_2022["입차달"]== i][df_2022[df_2022["입차달"]== i]["입차일"]==j]))
    all_entrance_df[str(i)+"월"] = day_entrance
    day_entrance.clear()

In [21]:
all_entrance_df

      일    1월    2월    3월    4월    5월    6월
0    1일   746   162   816   788   889   908
1    2일   778   373   596  1012   530   505
2    3일   690   537   772  1038   791   846
3    4일   455   490   694   674   555   851
4    5일   468   767  1035   680   752   797
5    6일   490   681   951   654   713   815
6    7일   552   479   676   718   815   537
7    8일   995   638   838   994   977    97
8    9일   813   409   879   975   493    77
9   10일   510   467   595   999   523   224
10  11일   520   557   696   699   481   917
11  12일   536   846   584   669   559   892
12  13일   738   966   971   866   851   807
13  14일   612   488   596   736   969   512
14  15일   927   462   700   776   828   575
15  16일   916   424   667  1055   536   568
16  17일   451   474   678  1003   513   635
17  18일   736   686   890   901   744  1111
18  19일   455   824   974   664   505   870
19  20일   530   727   912   702   661   547
20  21일   554   461   623   686   875   525
21  22일   901   573   680   651   882   566
22  23일   927   821   804  1155   713   736
23  24일   509   653   747   883   555   655
24  25일   517   724   720   559   520   890
25  26일   617  1002  1003   605   554   875
26  27일   715   947   938   586   594   546
27  28일   952   832   892   846  1138   706
28  29일  1081     0   646   728   861   553
29  30일  1166     0   618   883   502   521
30  31일   966     0   710     0   583     0

In [22]:
all_entrance_df.to_excel("osaeg2.xlsx", index = False)

# 주차이용 효율 계산 
## (주차 이용대수 x 평균 주차시간) % (주차용량x주차장 운영시간)
## => Utilization_Efficiency_df

In [23]:
real_day = 0
month_entrance = month_entrance_df["월별 입차 수"].sum()
for i in range(1,7):
    real_day += len(all_entrance_df[all_entrance_df[str(i)+"월"] !=0])

In [24]:
avg_parking = month_entrance/real_day
avg_parking

709.9723756906077

In [25]:
parking_n = 180 #주차용량

In [26]:
usetime_avg = usetime_avg.total_seconds()

In [27]:
usetime_avg

9980.111769

In [28]:
Utilization_Efficiency = (avg_parking * usetime_avg)/(parking_n * 24)

In [29]:
Utilization_Efficiency = round(Utilization_Efficiency/360,2)
Utilization_Efficiency

4.56

In [30]:
Utilization_Efficiency_list = []
Utilization_Efficiency_list.append(Utilization_Efficiency)
Utilization_Efficiency_df = pd.DataFrame()
Utilization_Efficiency_df["오색시장2공영주차장"] = Utilization_Efficiency_list

In [31]:
Utilization_Efficiency_df

   오색시장2공영주차장
0        4.56

In [32]:
Utilization_Efficiency_df.to_excel("osaeg2_Utilization_Efficiency.xlsx", index = False)

# 붐비는 시간 (1시간 기준) 
## data 수가 너무 많아 실행시간이 너무 오래 걸리기 때문에 각 월에서 1개의 주말 data 추출

In [33]:
peak_df = pd.DataFrame()
peak_df["시간(1시간)"]=[]
peak_df["입차수"]=[]
peak_df["회전률"]=[]

peak_time=[]
for i in range(0,3):
    for j in range(0,10):
        if i==2 and j>3:
            break
        else:
            a = str(i)+str(j)+":00:00~"+str(i)+str(j)+":59:59"
        peak_time.append(a)
peak_df["시간(1시간)"]=peak_time

In [34]:
def holiday_df(dataframe, month, day):
    dataframe = df_2022[df_2022["입차달"]==month]
    dataframe = dataframe[dataframe["입차일"]==day]
    dataframe = dataframe.reset_index(drop=True)
    return dataframe

In [35]:
jan_holiday_df = pd.DataFrame()
feb_holiday_df = pd.DataFrame()
mar_holiday_df = pd.DataFrame()
apr_holiday_df = pd.DataFrame()
may_holiday_df = pd.DataFrame()
jun_holiday_df = pd.DataFrame()

jan_holiday_df = holiday_df(jan_holiday_df, 1, 29)
feb_holiday_df = holiday_df(feb_holiday_df, 2, 12)
mar_holiday_df = holiday_df(mar_holiday_df, 3, 29)
apr_holiday_df = holiday_df(apr_holiday_df, 4, 23)
may_holiday_df = holiday_df(may_holiday_df, 5, 29)
jun_holiday_df = holiday_df(jun_holiday_df, 6, 18)

In [36]:
def time_use(dataframe, month_list):
    for i in range(0,24):
        for j in range(len(dataframe)):
            use = len(dataframe[dataframe["입차시"]==i])
        month_list.append(use)
    return month_list

In [37]:
jan = []
feb = []
mar = []
apr = []
may = []
jun = []

jan_use = time_use(jan_holiday_df, jan)
feb_use = time_use(feb_holiday_df, feb)
mar_use = time_use(mar_holiday_df, mar)
apr_use = time_use(apr_holiday_df, apr)
may_use = time_use(may_holiday_df, may)
jun_use = time_use(jun_holiday_df, jun)

In [38]:
sum_use = [jan_use[i] + feb_use[i] + mar_use[i] + apr_use[i] + may_use[i] + jun_use[i] for i in range(len(jan_use))]

In [39]:
n = 6
sum_use = [x / n for x in sum_use]

In [40]:
peak_df["입차수"]=sum_use

In [41]:
peak_df

              시간(1시간)         입차수  회전률
0   00:00:00~00:59:59    2.000000  NaN
1   01:00:00~01:59:59    1.000000  NaN
2   02:00:00~02:59:59    0.833333  NaN
3   03:00:00~03:59:59    0.333333  NaN
4   04:00:00~04:59:59    1.666667  NaN
5   05:00:00~05:59:59    0.833333  NaN
6   06:00:00~06:59:59    3.166667  NaN
7   07:00:00~07:59:59    8.333333  NaN
8   08:00:00~08:59:59   30.000000  NaN
9   09:00:00~09:59:59   71.500000  NaN
10  10:00:00~10:59:59  108.333333  NaN
11  11:00:00~11:59:59   93.333333  NaN
12  12:00:00~12:59:59   94.500000  NaN
13  13:00:00~13:59:59  101.333333  NaN
14  14:00:00~14:59:59   93.833333  NaN
15  15:00:00~15:59:59   96.833333  NaN
16  16:00:00~16:59:59   93.333333  NaN
17  17:00:00~17:59:59   69.166667  NaN
18  18:00:00~18:59:59   44.666667  NaN
19  19:00:00~19:59:59   18.833333  NaN
20  20:00:00~20:59:59    6.166667  NaN
21  21:00:00~21:59:59    4.166667  NaN
22  22:00:00~22:59:59    3.166667  NaN
23  23:00:00~23:59:59    2.666667  NaN

# 회전률 계산
## 이용차량 대수/총 주차면수

In [42]:
rotation_rate =[]
for i in range(0,24):
    a = peak_df["입차수"][i]/180
    rotation_rate.append(a)
peak_df["회전률"] = rotation_rate

In [43]:
peak_df

              시간(1시간)         입차수       회전률
0   00:00:00~00:59:59    2.000000  0.011111
1   01:00:00~01:59:59    1.000000  0.005556
2   02:00:00~02:59:59    0.833333  0.004630
3   03:00:00~03:59:59    0.333333  0.001852
4   04:00:00~04:59:59    1.666667  0.009259
5   05:00:00~05:59:59    0.833333  0.004630
6   06:00:00~06:59:59    3.166667  0.017593
7   07:00:00~07:59:59    8.333333  0.046296
8   08:00:00~08:59:59   30.000000  0.166667
9   09:00:00~09:59:59   71.500000  0.397222
10  10:00:00~10:59:59  108.333333  0.601852
11  11:00:00~11:59:59   93.333333  0.518519
12  12:00:00~12:59:59   94.500000  0.525000
13  13:00:00~13:59:59  101.333333  0.562963
14  14:00:00~14:59:59   93.833333  0.521296
15  15:00:00~15:59:59   96.833333  0.537963
16  16:00:00~16:59:59   93.333333  0.518519
17  17:00:00~17:59:59   69.166667  0.384259
18  18:00:00~18:59:59   44.666667  0.248148
19  19:00:00~19:59:59   18.833333  0.104630
20  20:00:00~20:59:59    6.166667  0.034259
21  21:00:00~21:59:59    4.166667  0.023148
22  22:00:00~22:59:59    3.166667  0.017593
23  23:00:00~23:59:59    2.666667  0.014815

In [44]:
peak_df.to_excel("osaeg2_peak.xlsx",index = False)