In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_excel("C:/Users/홍정화/Desktop/abc_Camp_BigData/공영주차장 이용데이터(정비).xlsx")

In [3]:
df = df[df["주차장명"].str.contains("오색시장1공영주차장")]

In [4]:
df

              주차장명                입차시각                출차시각  구분
282625  오색시장1공영주차장 2021-12-31 22:38:00 2022-01-01 00:11:02  일반
282626  오색시장1공영주차장 2022-01-01 00:31:00 2022-01-01 00:12:15  일반
282627  오색시장1공영주차장 2021-12-31 09:47:38 2022-01-01 01:04:53  정기
282628  오색시장1공영주차장 2022-01-01 02:42:11 2022-01-01 03:07:04  정기
282629  오색시장1공영주차장 2022-01-01 05:49:00 2022-01-01 06:26:27  일반
...            ...                 ...                 ...  ..
371459  오색시장1공영주차장 2022-06-30 15:01:00 2022-06-30 22:08:52  일반
371460  오색시장1공영주차장 2022-06-30 22:28:00 2022-06-30 22:11:11  일반
371461  오색시장1공영주차장 2022-06-30 22:28:00 2022-06-30 22:11:21  일반
371462  오색시장1공영주차장 2022-06-30 16:59:00 2022-06-30 23:11:36  일반
371463  오색시장1공영주차장 2022-06-30 23:31:00 2022-06-30 23:13:25  일반

[88839 rows x 4 columns]

## 이용률 분석하기 위해 입차시각, 출차시각 나누기

In [5]:
df["입차년도"] = df["입차시각"].dt.year.astype('Int64')
df["입차달"] = df["입차시각"].dt.month.astype('Int64')
df["입차일"] = df["입차시각"].dt.day.astype('Int64')
df["입차시"] = df["입차시각"].dt.hour.astype('Int64')
df["입차분"] = df["입차시각"].dt.minute.astype('Int64')
df["입차초"] = df["입차시각"].dt.second.astype('Int64')

df["출차년도"] = df["출차시각"].dt.year.astype('Int64')
df["출차달"] = df["출차시각"].dt.month.astype('Int64')
df["출차일"] = df["출차시각"].dt.day.astype('Int64')
df["출차시"] = df["출차시각"].dt.hour.astype('Int64')
df["출차분"] = df["출차시각"].dt.minute.astype('Int64')
df["출차초"] = df["출차시각"].dt.second.astype('Int64')

# 결측치 확인

In [6]:
df.isnull().sum()

주차장명     0
입차시각    38
출차시각     0
구분       0
입차년도    38
입차달     38
입차일     38
입차시     38
입차분     38
입차초     38
출차년도     0
출차달      0
출차일      0
출차시      0
출차분      0
출차초      0
dtype: int64

# 입차년도가 2022년인 데이터만 추출

In [7]:
df_2022 = df[df["입차년도"]==2022]
df_2022 = df_2022.reset_index(drop=True)

In [8]:
df_2022

,주차장명,입차시각,출차시각,구분,입차년도,입차달,입차일,입차시,입차분,입차초,출차년도,출차달,출차일,출차시,출차분,출차초
0,오색시장1공영주차장,2022-01-01 00:31:00,2022-01-01 00:12:15,일반,2022,1,1,0,31,0,2022,1,1,0,12,15
1,오색시장1공영주차장,2022-01-01 02:42:11,2022-01-01 03:07:04,정기,2022,1,1,2,42,11,2022,1,1,3,7,4
2,오색시장1공영주차장,2022-01-01 05:49:00,2022-01-01 06:26:27,일반,2022,1,1,5,49,0,2022,1,1,6,26,27
3,오색시장1공영주차장,2022-01-01 06:38:00,2022-01-01 06:43:07,일반,2022,1,1,6,38,0,2022,1,1,6,43,7
4,오색시장1공영주차장,2022-01-01 07:28:00,2022-01-01 07:28:39,일반,2022,1,1,7,28,0,2022,1,1,7,28,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88779,오색시장1공영주차장,2022-06-30 15:01:00,2022-06-30 22:08:52,일반,2022,6,30,15,1,0,2022,6,30,22,8,52
88780,오색시장1공영주차장,2022-06-30 22:28:00,2022-06-30 22:11:11,일반,2022,6,30,22,28,0,2022,6,30,22,11,11
88781,오색시장1공영주차장,2022-06-30 22:28:00,2022-06-30 22:11:21,일반,2022,6,30,22,28,0,2022,6,30,22,11,21
88782,오색시장1공영주차장,2022-06-30 16:59:00,2022-06-30 23:11:36,일반,2022,6,30,16,59,0,2022,6,30,23,11,36
88783,오색시장1공영주차장,2022-06-30 23:31:00,2022-06-30 23:13:25,일반,2022,6,30,23,31,0,2022,6,30,23,13,25

# 결측치 재확인

In [9]:
df_2022.isnull().sum()

주차장명    0
입차시각    0
출차시각    0
구분      0
입차년도    0
입차달     0
입차일     0
입차시     0
입차분     0
입차초     0
출차년도    0
출차달     0
출차일     0
출차시     0
출차분     0
출차초     0
dtype: int64

# 입차시각이 출차시각보다 늦거나 같은 데이터 삭제 
## ex) 입차시각 2022-01-01 00:31:00 출차시각 2022-01-01 00:12:15

In [10]:
for i in range(len(df_2022)):
    In = df_2022["입차시각"][i]
    Out =df_2022["출차시각"][i]
    if(In>=Out):
        df_2022 = df_2022.drop(i)

In [11]:
df_2022 = df_2022.reset_index(drop=True)

# 이용시간 계산 (출차시각 - 입차시각)

In [12]:
usetime =[]
for i in range(len(df_2022)):
    In = df_2022["입차시각"][i]
    Out = df_2022["출차시각"][i]
    datediff = Out-In
    usetime.append(datediff)
df_2022["이용시간"]=usetime

In [13]:
df_2022

,주차장명,입차시각,출차시각,구분,입차년도,입차달,입차일,입차시,입차분,입차초,출차년도,출차달,출차일,출차시,출차분,출차초,이용시간
0,오색시장1공영주차장,2022-01-01 02:42:11,2022-01-01 03:07:04,정기,2022,1,1,2,42,11,2022,1,1,3,7,4,0 days 00:24:53
1,오색시장1공영주차장,2022-01-01 05:49:00,2022-01-01 06:26:27,일반,2022,1,1,5,49,0,2022,1,1,6,26,27,0 days 00:37:27
2,오색시장1공영주차장,2022-01-01 06:38:00,2022-01-01 06:43:07,일반,2022,1,1,6,38,0,2022,1,1,6,43,7,0 days 00:05:07
3,오색시장1공영주차장,2022-01-01 07:28:00,2022-01-01 07:28:39,일반,2022,1,1,7,28,0,2022,1,1,7,28,39,0 days 00:00:39
4,오색시장1공영주차장,2022-01-01 07:13:00,2022-01-01 07:34:28,일반,2022,1,1,7,13,0,2022,1,1,7,34,28,0 days 00:21:28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77291,오색시장1공영주차장,2022-06-30 07:16:03,2022-06-30 21:58:07,정기,2022,6,30,7,16,3,2022,6,30,21,58,7,0 days 14:42:04
77292,오색시장1공영주차장,2022-06-30 21:03:00,2022-06-30 22:03:57,일반,2022,6,30,21,3,0,2022,6,30,22,3,57,0 days 01:00:57
77293,오색시장1공영주차장,2022-06-30 14:58:00,2022-06-30 22:08:22,일반,2022,6,30,14,58,0,2022,6,30,22,8,22,0 days 07:10:22
77294,오색시장1공영주차장,2022-06-30 15:01:00,2022-06-30 22:08:52,일반,2022,6,30,15,1,0,2022,6,30,22,8,52,0 days 07:07:52
77295,오색시장1공영주차장,2022-06-30 16:59:00,2022-06-30 23:11:36,일반,2022,6,30,16,59,0,2022,6,30,23,11,36,0 days 06:12:36

# 평균 이용시간  => usetime_avg

In [14]:
usetime_sum = df_2022["이용시간"].sum() 
usetime_sum

Timedelta('4623 days 12:23:36')

In [15]:
usetime_avg = usetime_sum/len(df_2022["이용시간"]) 
usetime_avg

Timedelta('0 days 01:26:08.078762161')

# 달별 이용 수(입차 수) => month_entrance_df

In [16]:
month_entrance_df = pd.DataFrame()
month_entrance_df["월"]=[]
month_entrance_df["월별 입차 수"]=[]

month=[]
month_entrance=[]
for i in range(1,13):
    month.append(str(i)+"월")
    month_entrance.append(len(df_2022[df_2022["입차달"]== i]))
month_entrance_df["월"]=month
month_entrance_df["월별 입차 수"]=month_entrance

In [17]:
month_entrance_df

      월  월별 입차 수
0    1월    21989
1    2월    13037
2    3월        0
3    4월     4808
4    5월    18814
5    6월    18648
6    7월        0
7    8월        0
8    9월        0
9   10월        0
10  11월        0
11  12월        0

# 1~6월 일별로 이용수 계산 => all_entrance_df

In [18]:
all_entrance_df = pd.DataFrame()
all_entrance_df["일"]=[]
all_entrance_df["1월"]=[]
all_entrance_df["2월"]=[]
all_entrance_df["3월"]=[]
all_entrance_df["4월"]=[]
all_entrance_df["5월"]=[]
all_entrance_df["6월"]=[]

In [19]:
day=[]
for i in range(1,32):
    day.append(str(i)+"일")
all_entrance_df["일"] = day

In [20]:
day_entrance=[]
for i in range(1,7):
    for j in range(1,32):
        day_entrance.append(len(df_2022[df_2022["입차달"]== i][df_2022[df_2022["입차달"]== i]["입차일"]==j]))
    all_entrance_df[str(i)+"월"] = day_entrance
    day_entrance.clear()

In [21]:
all_entrance_df

      일   1월   2월  3월   4월   5월   6월
0    1일  890  192   0    0  740  789
1    2일  750  465   0    0  430  580
2    3일  618  665   0    0  542  703
3    4일  563  610   0    0  441  822
4    5일  566  827   0    0  666  796
5    6일  591  785   0    0  567  615
6    7일  644  543   0    0  756  546
7    8일  806  586   0    0  757  109
8    9일  800  584   0    0  451   30
9   10일  555  584   0    0  462  111
10  11일  566  642   0    0  478  874
11  12일  606  871   0    0  480  868
12  13일  630  756   0    0  616  699
13  14일  675  630   0    0  612  559
14  15일  876  588   0    0  827  583
15  16일  815  504   0    0  506  564
16  17일  635  514   0    0  485  603
17  18일  624  669   0    0  632  833
18  19일  575  928   0    2  463  822
19  20일  627  769   0    0  581  534
20  21일  701  325   0   62  867  563
21  22일  904    0   0  343  815  562
22  23일  767    0   0  720  653  656
23  24일  640    0   0  651  505  624
24  25일  639    0   0  370  536  899
25  26일  637    0   0  447  533  831
26  27일  712    0   0  434  596  615
27  28일  800    0   0  526  858  666
28  29일  937    0   0  504  782  662
29  30일  926    0   0  749  578  530
30  31일  914    0   0    0  599    0

In [22]:
all_entrance_df.to_excel("osaeg1.xlsx", index = False)

# 주차이용 효율 계산 
## (주차 이용대수 x 평균 주차시간) % (주차용량x주차장 운영시간)
## => Utilization_Efficiency_df

In [23]:
real_day = 0
month_entrance = month_entrance_df["월별 입차 수"].sum()
for i in range(1,7):
    real_day += len(all_entrance_df[all_entrance_df[str(i)+"월"] !=0])

In [24]:
avg_parking = month_entrance/real_day
avg_parking

623.3548387096774

In [25]:
parking_n = 105 #주차용량

In [26]:
usetime_avg = usetime_avg.total_seconds()

In [27]:
usetime_avg

5168.078762

In [28]:
Utilization_Efficiency = (avg_parking * usetime_avg)/(parking_n * 24)

In [29]:
Utilization_Efficiency = round(Utilization_Efficiency/360,2) 
Utilization_Efficiency

3.55

In [30]:
Utilization_Efficiency_list = []
Utilization_Efficiency_list.append(Utilization_Efficiency)
Utilization_Efficiency_df = pd.DataFrame()
Utilization_Efficiency_df["오색시장1공영주차장"] = Utilization_Efficiency_list

In [31]:
Utilization_Efficiency_df

   오색시장1공영주차장
0        3.55

In [32]:
Utilization_Efficiency_df.to_excel("osaeg1_Utilization_Efficiency.xlsx", index = False)

# 붐비는 시간 (1시간 기준) 
## data 수가 너무 많아 실행시간이 너무 오래 걸리기 때문에 각 월에서 1개의 주말 data 추출

In [33]:
peak_df = pd.DataFrame()
peak_df["시간(1시간)"]=[]
peak_df["입차수"]=[]
peak_df["회전률"]=[]

peak_time=[]
for i in range(0,3):
    for j in range(0,10):
        if i==2 and j>3:
            break
        else:
            a = str(i)+str(j)+":00:00~"+str(i)+str(j)+":59:59"
        peak_time.append(a)
peak_df["시간(1시간)"]=peak_time

In [34]:
def holiday_df(dataframe, month, day):
    dataframe = df_2022[df_2022["입차달"]==month]
    dataframe = dataframe[dataframe["입차일"]==day]
    dataframe = dataframe.reset_index(drop=True)
    return dataframe

In [35]:
jan_holiday_df = pd.DataFrame()
feb_holiday_df = pd.DataFrame()
apr_holiday_df = pd.DataFrame()
may_holiday_df = pd.DataFrame()
jun_holiday_df = pd.DataFrame()

jan_holiday_df = holiday_df(jan_holiday_df, 1, 29)
feb_holiday_df = holiday_df(feb_holiday_df, 2, 12)
apr_holiday_df = holiday_df(apr_holiday_df, 4, 23)
may_holiday_df = holiday_df(may_holiday_df, 5, 29)
jun_holiday_df = holiday_df(jun_holiday_df, 6, 18)

In [36]:
def time_use(dataframe, month_list):
    for i in range(0,24):
        for j in range(len(dataframe)):
            use = len(dataframe[dataframe["입차시"]==i])
        month_list.append(use)
    return month_list

In [37]:
jan = []
feb = []
apr = []
may = []
jun = []

jan_use = time_use(jan_holiday_df, jan)
feb_use = time_use(feb_holiday_df, feb)
apr_use = time_use(apr_holiday_df, apr)
may_use = time_use(may_holiday_df, may)
jun_use = time_use(jun_holiday_df, jun)

In [38]:
sum_use = [jan_use[i] + feb_use[i] + apr_use[i] + may_use[i] + jun_use[i] for i in range(len(jan_use))]

In [39]:
n = 5
sum_use = [x / n for x in sum_use]

In [40]:
peak_df["입차수"]=sum_use

In [41]:
peak_df

              시간(1시간)   입차수  회전률
0   00:00:00~00:59:59   0.8  NaN
1   01:00:00~01:59:59   0.8  NaN
2   02:00:00~02:59:59   0.4  NaN
3   03:00:00~03:59:59   0.6  NaN
4   04:00:00~04:59:59   1.6  NaN
5   05:00:00~05:59:59   2.4  NaN
6   06:00:00~06:59:59   5.6  NaN
7   07:00:00~07:59:59  18.2  NaN
8   08:00:00~08:59:59  34.0  NaN
9   09:00:00~09:59:59  70.2  NaN
10  10:00:00~10:59:59  73.4  NaN
11  11:00:00~11:59:59  76.6  NaN
12  12:00:00~12:59:59  80.2  NaN
13  13:00:00~13:59:59  73.6  NaN
14  14:00:00~14:59:59  71.8  NaN
15  15:00:00~15:59:59  83.6  NaN
16  16:00:00~16:59:59  90.2  NaN
17  17:00:00~17:59:59  73.2  NaN
18  18:00:00~18:59:59  48.2  NaN
19  19:00:00~19:59:59  17.6  NaN
20  20:00:00~20:59:59   3.4  NaN
21  21:00:00~21:59:59   1.8  NaN
22  22:00:00~22:59:59   0.2  NaN
23  23:00:00~23:59:59   0.2  NaN

# 회전률 계산
## 이용차량 대수/총 주차면수

In [42]:
rotation_rate =[]
for i in range(0,24):
    a = peak_df["입차수"][i]/105
    rotation_rate.append(a)
peak_df["회전률"] = rotation_rate

In [43]:
peak_df

              시간(1시간)   입차수       회전률
0   00:00:00~00:59:59   0.8  0.007619
1   01:00:00~01:59:59   0.8  0.007619
2   02:00:00~02:59:59   0.4  0.003810
3   03:00:00~03:59:59   0.6  0.005714
4   04:00:00~04:59:59   1.6  0.015238
5   05:00:00~05:59:59   2.4  0.022857
6   06:00:00~06:59:59   5.6  0.053333
7   07:00:00~07:59:59  18.2  0.173333
8   08:00:00~08:59:59  34.0  0.323810
9   09:00:00~09:59:59  70.2  0.668571
10  10:00:00~10:59:59  73.4  0.699048
11  11:00:00~11:59:59  76.6  0.729524
12  12:00:00~12:59:59  80.2  0.763810
13  13:00:00~13:59:59  73.6  0.700952
14  14:00:00~14:59:59  71.8  0.683810
15  15:00:00~15:59:59  83.6  0.796190
16  16:00:00~16:59:59  90.2  0.859048
17  17:00:00~17:59:59  73.2  0.697143
18  18:00:00~18:59:59  48.2  0.459048
19  19:00:00~19:59:59  17.6  0.167619
20  20:00:00~20:59:59   3.4  0.032381
21  21:00:00~21:59:59   1.8  0.017143
22  22:00:00~22:59:59   0.2  0.001905
23  23:00:00~23:59:59   0.2  0.001905

In [44]:
peak_df.to_excel("osaeg1_peak.xlsx", index = False)