In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_excel("C:/Users/홍정화/Desktop/abc_Camp_BigData/공영주차장 이용데이터(정비).xlsx")

In [3]:
df = df[df["주차장명"].str.contains("운암공영주차장")]

In [4]:
df

           주차장명                입차시각                출차시각  구분
510704  운암공영주차장 2021-12-31 20:16:00 2022-01-01 00:00:15  일반
510705  운암공영주차장 2021-12-31 19:11:00 2022-01-01 00:01:14  일반
510706  운암공영주차장 2021-12-31 18:29:00 2022-01-01 00:04:19  일반
510707  운암공영주차장 2021-12-31 17:42:00 2022-01-01 00:12:23  일반
510708  운암공영주차장 2021-12-31 18:38:00 2022-01-01 00:20:27  일반
...         ...                 ...                 ...  ..
907102  운암공영주차장 2022-06-30 16:58:00 2022-06-30 23:58:33  일반
907103  운암공영주차장 2022-07-01 00:16:00 2022-06-30 23:59:01  일반
907104  운암공영주차장 2022-06-30 23:58:00 2022-06-30 23:59:11  일반
907105  운암공영주차장 2022-06-30 18:47:00 2022-06-30 23:59:28  일반
907106  운암공영주차장 2022-06-30 18:59:00 2022-06-30 23:59:40  일반

[396403 rows x 4 columns]

## 이용률 분석하기 위해 입차시각, 출차시각 나누기

In [5]:
df["입차년도"] = df["입차시각"].dt.year.astype('Int64')
df["입차달"] = df["입차시각"].dt.month.astype('Int64')
df["입차일"] = df["입차시각"].dt.day.astype('Int64')
df["입차시"] = df["입차시각"].dt.hour.astype('Int64')
df["입차분"] = df["입차시각"].dt.minute.astype('Int64')
df["입차초"] = df["입차시각"].dt.second.astype('Int64')

df["출차년도"] = df["출차시각"].dt.year.astype('Int64')
df["출차달"] = df["출차시각"].dt.month.astype('Int64')
df["출차일"] = df["출차시각"].dt.day.astype('Int64')
df["출차시"] = df["출차시각"].dt.hour.astype('Int64')
df["출차분"] = df["출차시각"].dt.minute.astype('Int64')
df["출차초"] = df["출차시각"].dt.second.astype('Int64')

# 결측치 확인

In [6]:
df.isnull().sum()

주차장명      0
입차시각    167
출차시각      0
구분        0
입차년도    167
입차달     167
입차일     167
입차시     167
입차분     167
입차초     167
출차년도      0
출차달       0
출차일       0
출차시       0
출차분       0
출차초       0
dtype: int64

# 입차년도가 2022년인 데이터만 추출

In [7]:
df_2022 = df[df["입차년도"]==2022]
df_2022 = df_2022.reset_index(drop=True)

In [8]:
df_2022

,주차장명,입차시각,출차시각,구분,입차년도,입차달,입차일,입차시,입차분,입차초,출차년도,출차달,출차일,출차시,출차분,출차초
0,운암공영주차장,2022-01-01 00:36:00,2022-01-01 00:37:00,일반,2022,1,1,0,36,0,2022,1,1,0,37,0
1,운암공영주차장,2022-01-01 00:43:00,2022-01-01 01:15:10,일반,2022,1,1,0,43,0,2022,1,1,1,15,10
2,운암공영주차장,2022-01-01 01:35:00,2022-01-01 01:17:35,일반,2022,1,1,1,35,0,2022,1,1,1,17,35
3,운암공영주차장,2022-01-01 01:39:00,2022-01-01 01:21:28,일반,2022,1,1,1,39,0,2022,1,1,1,21,28
4,운암공영주차장,2022-01-01 01:24:00,2022-01-01 01:25:11,일반,2022,1,1,1,24,0,2022,1,1,1,25,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396173,운암공영주차장,2022-06-30 16:58:00,2022-06-30 23:58:33,일반,2022,6,30,16,58,0,2022,6,30,23,58,33
396174,운암공영주차장,2022-07-01 00:16:00,2022-06-30 23:59:01,일반,2022,7,1,0,16,0,2022,6,30,23,59,1
396175,운암공영주차장,2022-06-30 23:58:00,2022-06-30 23:59:11,일반,2022,6,30,23,58,0,2022,6,30,23,59,11
396176,운암공영주차장,2022-06-30 18:47:00,2022-06-30 23:59:28,일반,2022,6,30,18,47,0,2022,6,30,23,59,28
396177,운암공영주차장,2022-06-30 18:59:00,2022-06-30 23:59:40,일반,2022,6,30,18,59,0,2022,6,30,23,59,40

# 결측치 재확인

In [9]:
df_2022.isnull().sum()

주차장명    0
입차시각    0
출차시각    0
구분      0
입차년도    0
입차달     0
입차일     0
입차시     0
입차분     0
입차초     0
출차년도    0
출차달     0
출차일     0
출차시     0
출차분     0
출차초     0
dtype: int64

# 입차시각이 출차시각보다 늦거나 같은 데이터 삭제 
## ex) 입차시각 2022-01-01 00:31:00 출차시각 2022-01-01 00:12:15

In [10]:
for i in range(len(df_2022)):
    In = df_2022["입차시각"][i]
    Out =df_2022["출차시각"][i]
    if(In>=Out):
        df_2022 = df_2022.drop(i)

In [11]:
df_2022 = df_2022.reset_index(drop=True)

# 이용시간 계산 (출차시각 - 입차시각)

In [12]:
usetime =[]
for i in range(len(df_2022)):
    In = df_2022["입차시각"][i]
    Out = df_2022["출차시각"][i]
    datediff = Out-In
    usetime.append(datediff)
df_2022["이용시간"]=usetime

In [13]:
df_2022

,주차장명,입차시각,출차시각,구분,입차년도,입차달,입차일,입차시,입차분,입차초,출차년도,출차달,출차일,출차시,출차분,출차초,이용시간
0,운암공영주차장,2022-01-01 00:36:00,2022-01-01 00:37:00,일반,2022,1,1,0,36,0,2022,1,1,0,37,0,0 days 00:01:00
1,운암공영주차장,2022-01-01 00:43:00,2022-01-01 01:15:10,일반,2022,1,1,0,43,0,2022,1,1,1,15,10,0 days 00:32:10
2,운암공영주차장,2022-01-01 01:24:00,2022-01-01 01:25:11,일반,2022,1,1,1,24,0,2022,1,1,1,25,11,0 days 00:01:11
3,운암공영주차장,2022-01-01 01:50:00,2022-01-01 01:50:51,일반,2022,1,1,1,50,0,2022,1,1,1,50,51,0 days 00:00:51
4,운암공영주차장,2022-01-01 01:51:00,2022-01-01 01:52:01,일반,2022,1,1,1,51,0,2022,1,1,1,52,1,0 days 00:01:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320632,운암공영주차장,2022-06-30 18:44:00,2022-06-30 23:57:59,일반,2022,6,30,18,44,0,2022,6,30,23,57,59,0 days 05:13:59
320633,운암공영주차장,2022-06-30 16:58:00,2022-06-30 23:58:33,일반,2022,6,30,16,58,0,2022,6,30,23,58,33,0 days 07:00:33
320634,운암공영주차장,2022-06-30 23:58:00,2022-06-30 23:59:11,일반,2022,6,30,23,58,0,2022,6,30,23,59,11,0 days 00:01:11
320635,운암공영주차장,2022-06-30 18:47:00,2022-06-30 23:59:28,일반,2022,6,30,18,47,0,2022,6,30,23,59,28,0 days 05:12:28
320636,운암공영주차장,2022-06-30 18:59:00,2022-06-30 23:59:40,일반,2022,6,30,18,59,0,2022,6,30,23,59,40,0 days 05:00:40

# 평균 이용시간  => usetime_avg

In [14]:
usetime_sum = df_2022["이용시간"].sum() 
usetime_sum

Timedelta('30544 days 00:35:03')

In [15]:
usetime_avg = usetime_sum/len(df_2022["이용시간"])
usetime_avg

Timedelta('0 days 02:17:10.502727383')

# 달별 이용 수(입차 수) => month_entrance_df

In [16]:
month_entrance_df = pd.DataFrame()
month_entrance_df["월"]=[]
month_entrance_df["월별 입차 수"]=[]

month=[]
month_entrance=[]
for i in range(1,13):
    month.append(str(i)+"월")
    month_entrance.append(len(df_2022[df_2022["입차달"]== i]))
month_entrance_df["월"]=month
month_entrance_df["월별 입차 수"]=month_entrance

In [17]:
month_entrance_df

      월  월별 입차 수
0    1월    49916
1    2월    42977
2    3월    52107
3    4월    56950
4    5월    62653
5    6월    56034
6    7월        0
7    8월        0
8    9월        0
9   10월        0
10  11월        0
11  12월        0

# 1~6월 일별로 이용수 계산 => all_entrance_df

In [18]:
all_entrance_df = pd.DataFrame()
all_entrance_df["일"]=[]
all_entrance_df["1월"]=[]
all_entrance_df["2월"]=[]
all_entrance_df["3월"]=[]
all_entrance_df["4월"]=[]
all_entrance_df["5월"]=[]
all_entrance_df["6월"]=[]

In [19]:
day=[]
for i in range(1,32):
    day.append(str(i)+"일")
all_entrance_df["일"] = day

In [20]:
day_entrance=[]
for i in range(1,7):
    for j in range(1,32):
        day_entrance.append(len(df_2022[df_2022["입차달"]== i][df_2022[df_2022["입차달"]== i]["입차일"]==j]))
    all_entrance_df[str(i)+"월"] = day_entrance
    day_entrance.clear()

In [21]:
all_entrance_df

      일    1월    2월    3월    4월    5월    6월
0    1일  1037   514  1307  2060  1353  1662
1    2일   980   859  1699  1805  2016  2123
2    3일  1634  1755  1748  1115  1975  2344
3    4일  1714  1944  1863  1784  2362  1702
4    5일  1782  1350  1789  1840  1473  1462
5    6일  1829   921  1222  1938  2258  1148
6    7일  1892  1602  1732  1887  1676  2119
7    8일  1598  1744  1885  2164  1424   376
8    9일  1133  1816  1345  1777  1948   260
9   10일  1852  1775  1744  1105  2148  1571
10  11일  1814  1839  1944  1781  2256  1992
11  12일  1832  1445  1533  1949  2248  1552
12  13일  1959  1013  1055  2076  2379  2021
13  14일  1954  1644  1632  1937  2076  2161
14  15일  1556  1617  1646  2219  1456  2266
15  16일  1098  1637  1786  1837  1901  2208
16  17일  1732  1646  1623  1331  2188  2396
17  18일  1855  1850  1888  1900  2312  2050
18  19일  1673  1397  1734  1877  2289  1326
19  20일  1807  1084  1138  2105  2519  1898
20  21일  1866  1639  1793  2072  1979  2183
21  22일  1401  1743  1771  2306  1427  2299
22  23일  1113  1726  1845  1941  1981  2236
23  24일  1774  1744  1772  1501  2170  2508
24  25일  1928  1937  2096  1871  2286  2182
25  26일  1972  1600  1806  2043  2386  1523
26  27일  1973  1142  1232  2109  2454  2029
27  28일  2203  1994  1800  2247  1924  2297
28  29일  1379     0  1802  2463  1332  2366
29  30일   918     0  1979  1910  1996  1774
30  31일   658     0  1898     0  2461     0

In [22]:
all_entrance_df.to_excel("unam.xlsx", index = False)

# 주차이용 효율 계산 
## (주차 이용대수 x 평균 주차시간) % (주차용량x주차장 운영시간)
## => Utilization_Efficiency_df

In [23]:
real_day = 0
month_entrance = month_entrance_df["월별 입차 수"].sum()
for i in range(1,7):
    real_day += len(all_entrance_df[all_entrance_df[str(i)+"월"] !=0])

In [24]:
avg_parking = month_entrance/real_day
avg_parking

1771.475138121547

In [25]:
parking_n = 593 #주차용량

In [26]:
usetime_avg = usetime_avg.total_seconds()

In [27]:
usetime_avg

8230.502727

In [28]:
Utilization_Efficiency = (avg_parking * usetime_avg)/(parking_n * 24)

In [29]:
Utilization_Efficiency = round(Utilization_Efficiency/360,2)
Utilization_Efficiency

2.85

In [30]:
Utilization_Efficiency_list = []
Utilization_Efficiency_list.append(Utilization_Efficiency)
Utilization_Efficiency_df = pd.DataFrame()
Utilization_Efficiency_df["운암공영주차장"] = Utilization_Efficiency_list

In [31]:
Utilization_Efficiency_df

   운암공영주차장
0     2.85

In [32]:
Utilization_Efficiency_df.to_excel("unam_Utilization_Efficiency.xlsx", index = False)

# 붐비는 시간 (1시간 기준) 
## data 수가 너무 많아 실행시간이 너무 오래 걸리기 때문에 각 월에서 1개의 주말 data 추출

In [33]:
peak_df = pd.DataFrame()
peak_df["시간(1시간)"]=[]
peak_df["입차수"]=[]
peak_df["회전률"]=[]

peak_time=[]
for i in range(0,3):
    for j in range(0,10):
        if i==2 and j>3:
            break
        else:
            a = str(i)+str(j)+":00:00~"+str(i)+str(j)+":59:59"
        peak_time.append(a)
peak_df["시간(1시간)"]=peak_time

In [34]:
def holiday_df(dataframe, month, day):
    dataframe = df_2022[df_2022["입차달"]==month]
    dataframe = dataframe[dataframe["입차일"]==day]
    dataframe = dataframe.reset_index(drop=True)
    return dataframe

In [35]:
jan_holiday_df = pd.DataFrame()
feb_holiday_df = pd.DataFrame()
mar_holiday_df = pd.DataFrame()
apr_holiday_df = pd.DataFrame()
may_holiday_df = pd.DataFrame()
jun_holiday_df = pd.DataFrame()

jan_holiday_df = holiday_df(jan_holiday_df, 1, 29)
feb_holiday_df = holiday_df(feb_holiday_df, 2, 12)
mar_holiday_df = holiday_df(mar_holiday_df, 3, 29)
apr_holiday_df = holiday_df(apr_holiday_df, 4, 23)
may_holiday_df = holiday_df(may_holiday_df, 5, 29)
jun_holiday_df = holiday_df(jun_holiday_df, 6, 18)

In [36]:
def time_use(dataframe, month_list):
    for i in range(0,24):
        for j in range(len(dataframe)):
            use = len(dataframe[dataframe["입차시"]==i])
        month_list.append(use)
    return month_list

In [37]:
jan = []
feb = []
mar = []
apr = []
may = []
jun = []

jan_use = time_use(jan_holiday_df, jan)
feb_use = time_use(feb_holiday_df, feb)
mar_use = time_use(mar_holiday_df, mar)
apr_use = time_use(apr_holiday_df, apr)
may_use = time_use(may_holiday_df, may)
jun_use = time_use(jun_holiday_df, jun)

In [38]:
sum_use = [jan_use[i] + feb_use[i] + mar_use[i] + apr_use[i] + may_use[i] + jun_use[i] for i in range(len(jan_use))]

In [39]:
n = 6
sum_use = [x / n for x in sum_use]

In [40]:
peak_df["입차수"]=sum_use

In [41]:
peak_df

              시간(1시간)         입차수  회전률
0   00:00:00~00:59:59   17.333333  NaN
1   01:00:00~01:59:59   11.666667  NaN
2   02:00:00~02:59:59    6.500000  NaN
3   03:00:00~03:59:59    4.166667  NaN
4   04:00:00~04:59:59    4.166667  NaN
5   05:00:00~05:59:59    4.500000  NaN
6   06:00:00~06:59:59    8.166667  NaN
7   07:00:00~07:59:59    9.500000  NaN
8   08:00:00~08:59:59   52.000000  NaN
9   09:00:00~09:59:59   72.000000  NaN
10  10:00:00~10:59:59   93.166667  NaN
11  11:00:00~11:59:59  123.500000  NaN
12  12:00:00~12:59:59  144.166667  NaN
13  13:00:00~13:59:59  123.000000  NaN
14  14:00:00~14:59:59  104.166667  NaN
15  15:00:00~15:59:59   94.833333  NaN
16  16:00:00~16:59:59  102.833333  NaN
17  17:00:00~17:59:59  158.500000  NaN
18  18:00:00~18:59:59  200.833333  NaN
19  19:00:00~19:59:59  136.000000  NaN
20  20:00:00~20:59:59   81.500000  NaN
21  21:00:00~21:59:59   52.000000  NaN
22  22:00:00~22:59:59   32.833333  NaN
23  23:00:00~23:59:59   20.833333  NaN

# 회전률 계산
## 이용차량 대수/총 주차면수

In [42]:
rotation_rate =[]
for i in range(0,24):
    a = peak_df["입차수"][i]/593
    rotation_rate.append(a)
peak_df["회전률"] = rotation_rate

In [43]:
peak_df

              시간(1시간)         입차수       회전률
0   00:00:00~00:59:59   17.333333  0.029230
1   01:00:00~01:59:59   11.666667  0.019674
2   02:00:00~02:59:59    6.500000  0.010961
3   03:00:00~03:59:59    4.166667  0.007026
4   04:00:00~04:59:59    4.166667  0.007026
5   05:00:00~05:59:59    4.500000  0.007589
6   06:00:00~06:59:59    8.166667  0.013772
7   07:00:00~07:59:59    9.500000  0.016020
8   08:00:00~08:59:59   52.000000  0.087690
9   09:00:00~09:59:59   72.000000  0.121417
10  10:00:00~10:59:59   93.166667  0.157111
11  11:00:00~11:59:59  123.500000  0.208263
12  12:00:00~12:59:59  144.166667  0.243114
13  13:00:00~13:59:59  123.000000  0.207420
14  14:00:00~14:59:59  104.166667  0.175660
15  15:00:00~15:59:59   94.833333  0.159921
16  16:00:00~16:59:59  102.833333  0.173412
17  17:00:00~17:59:59  158.500000  0.267285
18  18:00:00~18:59:59  200.833333  0.338673
19  19:00:00~19:59:59  136.000000  0.229342
20  20:00:00~20:59:59   81.500000  0.137437
21  21:00:00~21:59:59   52.000000  0.087690
22  22:00:00~22:59:59   32.833333  0.055368
23  23:00:00~23:59:59   20.833333  0.035132

In [44]:
peak_df.to_excel("unam_peak.xlsx",index = False)